* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  position: absolute;
  color: white;
  font-size: 80px;
  font-family: Impact, cursive;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 5px solid white;
}
